* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
li { list-style-type: none; }
a { color: #fff; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }
a img { border: none; }

html, body { width: 100%; height: 100%; }

body {
	background: #CED640;
	font: 14px "Helvetica Neue", "Helvetica", sans-serif;
	color: #333;
	cursor: default;
	-webkit-font-smoothing: antialiased;
}

article {
	max-width: 960px;
	margin: 40px auto;
}

article p {
	margin: 1em 0;
}

h2 {
	font-weight: 200;
	font-size: 30px;
	text-align: center;
	margin: 1em 0 .5em;
}

.clear {
	clear: both;
}

#header {
	position: relative;
	height: 500px;
	width: 100%;
	overflow: hidden;
}
#header h1 {
	position: fixed;
	top: 90px;
	width: 100%;
	color: #fff;
	font-weight: 200;
	font-size: 60px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,.1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.static #header h1 {
	position: absolute;
}
#header h1 strong {
	color: #55791F;
	font-weight: 900;
}
#header h1 small {
	display: block;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
}

#scroll-down {
	position: fixed;
	top: 270px;
	left: 50%;
	margin-left: -110px;
	width: 220px;
	color: #73790E;
	font-size: 16px;
	background: url(../images/down.png) no-repeat;
	padding: 0 0 0 25px;
	background-size: auto 100%;
}
.static #scroll-down {
	position: absolute;
}

.group {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.content {
	background: #ced640; /* Old browsers */
	background: -moz-linear-gradient(top,  #ced640 0%, #68c49f 13%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ced640), color-stop(13%,#68c49f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ced640 0%,#68c49f 13%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ced640 0%,#68c49f 13%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ced640 0%,#68c49f 13%); /* IE10+ */
	background: linear-gradient(to bottom,  #ced640 0%,#68c49f 13%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced640', endColorstr='#68c49f',GradientType=0 ); /* IE6-9 */
}

#conferences {
	color: #fff;
	z-index: 9;
	position: relative;
	padding: 300px 0 100px 0;
	overflow: hidden;
}

#conferences article {
    padding: 0 1px;
	position: relative;
}

#conferences section {
	height: inherit;
	float: left;
	padding: 0 30px;
	margin: 0 -1px 0 0;
	border: 1px solid #585c14;
}

#conferences .links {
	text-align: center;
}
#conferences .button {
	display: inline-block;
	margin: 50px 30px;
	padding: 20px 50px;
	background: #fff;
	color: #e5554d;
  	font-size: 25px;
	font-weight: 700;
	border-radius: 3px;
	box-shadow: 0 3px 0 rgba(255,255,255,.8), 0 3px 4px rgba(0,0,0,.4);
  text-decoration: none;
}
#conferences .button:hover {
	color: #333;
}

#conferences .button span {
	display: block;
}
#conferences .button small {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	opacity: .7;
}

#schedule {
	width: 90%;
	margin: 0 auto 100px;
	position: relative;
}
#schedule.open {
	padding-bottom: 240px;
}
#details {
	display: none;
	background: #444;
	color: #ccc;
	position: absolute;
	top: 60px;
	height: 240px;
	width: 100%;
	z-index: 99;
	box-shadow: 0 -4px rgba(0,0,0,.2);
}
#details.fixed {
	position: fixed;
	bottom: 0;
	top: auto;
	width: 90%;
}
#details.after {
	top: auto;
	bottom: 0;
}
#details .times {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	background: #383838 url(../images/time-dark.png) top right repeat-y;
}
#details .times .time {
	color: #7fdff9;
}

#details .description {
	position: absolute;
	top: 0px;
	left: 150px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
#details .track {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 36.666%;
	bottom: 20px;
}
#details .speaker {
	position: absolute;
	width: 30%;
	top: 20px;
	right: 20px;
	bottom: 20px;
}

#schedule .day {
	position: relative;
	background: #fff;
	height: 500px;	
}
#schedule .day header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px;
	height: 60px;
	background: #334d68;
	color: #fff;
	z-index: 9;
	-webkit-transform: translate3d(0,0,0);
	box-shadow: 0 4px #587592;
}
#schedule .day header.fixed {
	position: fixed;
	top: 0;
	width: 90%;
}
#schedule .day header.after {
	position: absolute;
	bottom: 0;
	top: auto;
}

#schedule aside {
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 150px;
	background: #f0f9f5;
	border-right: 5px solid #587592;
}

#schedule aside .time {
	color: #44a5ac;
}
#schedule .time {
	position: absolute;
	right: 40px;
	font-weight: 900;
	font-size: 20px;
	margin-top: -17px;
}
#schedule .tracks {
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 0;
	left: 160px;
}
#schedule .tracks .details {
	display: none;
}

#schedule .tracks > div {
	position: absolute;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	padding: 5px 10px;
}
#schedule .keynote {
	width: 100%;
	background: #7fdff9;
}

#schedule .tracks .track {
	width: 49.9995%;
	background: #44a5ac;
	-webkit-transition: all 200ms ease-in-out;
}
#schedule .tracks .track.room1 {
	left: 0;
}
#schedule .tracks .track.room2 {
	left: 49.9995%;
}

#schedule .tracks > div > a {
	color: rgba(255,255,255,.6);
	position: absolute;
	bottom: 8px;
	right: 5px;
}

#schedule .tracks .keynote > a {
    color: #fff;
}

#schedule h2 {
	color: #fff;
	margin: 0;
	font-size: 20px;
	text-align: left;
	font-weight: 900;
	font-style: italic;
}
#schedule .small h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#schedule .tracks .speaker {
	display: block;
	margin-right: 5px;
	color: #1A4D50;
	-webkit-transition: all 200ms ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#schedule .tracks .speakerlinks {
	display: block;
	border-top: 1px solid #3E9097;
	margin-top: 5px;
}
#schedule .tracks .speakerlinks a {
  color: #fff;
  width: 80px;
  display: inline-block;
  border-right: 1px solid #3E9097;
  font-size: 20px;
  text-align: center;
  padding: 5px 0 0 0;
}
#schedule .tracks .speakerlinks a:hover {
  color: #517BA8;
}

#schedule .tracks .keynote .speaker {
	color: #1b505e;
}
#schedule .tracks .keynote .speakersbio {
	color: #39859a;
    padding-top: 5px;
}
#schedule .tracks .keynote .description {
    color: #333;
    padding-top: 5px;
}

#schedule .tracks .track:hover {
	background: #334d68;
	color: #666;
	cursor: pointer;
}
#schedule .track:hover .speaker {
	color: #666;
}

#schedule .tracks .track.active {
	background: #334d68;
	color: #666;
}
#schedule .track.active .speaker {
	margin-right: 5px;
	color: #666;
}

#schedule .tracks .track.tbd {
	background: #e25651;
	color: #fff !important;
	opacity: .3;
	cursor: default;
}
#schedule .track.tbd .speaker {
	color: #ed9a96;
}


#schedule .tracks .pause {
	width: 100%;
	padding: 0 !important;
}

#schedule .tracks .pause h2 {
	margin: 0;
	height: 100px;
	color: #ccc;
	/* 	background: url(../images/pauses.png) center center no-repeat; */
}

#schedule .tracks .pause.register h2 {
	background-position: center 0;
}
#schedule .tracks .pause.drink h2 {
	background-position: center -200px;
}
#schedule .tracks .pause.drink h4 {
    color: #777777;
}
#schedule .tracks .pause.drink section img {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
    max-height: 26px;
    padding-right: 10px;
    margin-top: 10px;
}
#schedule .tracks .pause.eat h2 {
	background-position: center -100px;
}



#venue {
	position: relative;
	height: 60%;
	width: 100%;
}

#venue article {
	background: #444;
	color: #fff;
	position: absolute;
	text-align: center;
	top: 0;
	width: 400px;
	right: 0;
	bottom: 0;
	padding: 1px 30px;
	margin: 0;
}

#venue h2 {
	margin: 0;
	padding: 0;
}
#venue h4 {
	margin: 40px 0 0;
	color: #e25651;
}
#venue .address {
	color: #ccc;
}
#venue .address strong {
	color: #fff;
	font-size: 18px;
	margin: 0 0 7px;
	display: block;
}
#venue a {
	color: #7fdff9;
}


#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 400px;
	bottom: 0;
}

#partners {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 80px;
	word-spacing: 0;
	font-size: 0;
	position: relative;
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#partners header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
    height: 60px;
    background: #334d68;
    color: #fff;
    z-index: 9;
    -webkit-transform: translate3d(0,0,0);
    box-shadow: 0 4px #587592;
    font-size: 42px;
}

#partners article {
    padding: 5px;
    height: 45px;
    background-color: #CED640;
    color: #456318;
    font-size: 30px;
    max-width: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#partners a {
  padding: 0 50px;
}

#partners img {
	vertical-align: middle;
}

#partners img.hostedby {
    max-width: 700px;
    max-height: 120px;
}

#partners img.platinum {
    max-width: 600px;
    max-height: 70px;
    margin-top: 10px;
}

#partners img.gold {
    max-width: 500px;
    max-height: 90px;
}

#partners img.silver {
    max-width: 200px;
    max-height: 50px;
}

#partners img.friends {
    max-width: 200px;
    max-height: 50px;
}

footer {
	color: #fff;
	text-align: center;
	padding: 50px;
	background: #68c49f; /* Old browsers */
	background: -moz-linear-gradient(top,  #68c49f 1%, #2a6c51 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#68c49f), color-stop(99%,#2a6c51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #68c49f 1%,#2a6c51 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #68c49f 1%,#2a6c51 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #68c49f 1%,#2a6c51 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #68c49f 1%,#2a6c51 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c49f', endColorstr='#2a6c51',GradientType=0 ); /* IE6-9 */
}



@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {

#mountains2 { background-image: url("../images@2x/mountains2.png"); background-size: 1200px 200px; }
#mountains { background-image: url("../images@2x/mountains.png"); background-size: 1200px 287px; }
#clouds3 { background-image: url("../images@2x/clouds3.png"); background-size:  1200px 287px; }
#clouds2 { background-image: url("../images@2x/clouds2.png"); background-size:  1200px 287px; }
#land { background-image: url("../images@2x/land.png"); background-size: 1440px 220px; }
#clouds { background-image: url("../images@2x/clouds.png"); background-size: 2000px 287px; }
#cloudsF { background-image: url("../images@2x/cloudsF.png"); background-size: 100% 500px; }


#scroll-down {
	background: url(../images@2x/down.png) no-repeat;
	background-size: auto 100%;
}
.flip-thing li {
	background: url("../images@2x/numbers/none.png");
	background-size: cover;
}
.flip-thing li .none {
	background: url("../images@2x/numbers/none.png");
}
.flip-thing .back-0, .flip-thing span.num-0 {
	background-image: url("../images@2x/numbers/0.png");
}
.flip-thing .back-1, .flip-thing span.num-1 {
	background-image: url("../images@2x/numbers/1.png");
}
.flip-thing .back-2, .flip-thing span.num-2 {
	background-image: url("../images@2x/numbers/2.png");
}
.flip-thing .back-3, .flip-thing span.num-3 {
	background-image: url("../images@2x/numbers/3.png");
}
.flip-thing .back-4, .flip-thing span.num-4 {
	background-image: url("../images@2x/numbers/4.png");
}
.flip-thing .back-5, .flip-thing span.num-5 {
	background-image: url("../images@2x/numbers/5.png");
}
.flip-thing .back-6, .flip-thing span.num-6 {
	background-image: url("../images@2x/numbers/6.png");
}
.flip-thing .back-7, .flip-thing span.num-7 {
	background-image: url("../images@2x/numbers/7.png");
}
.flip-thing .back-8, .flip-thing span.num-8 {
	background-image: url("../images@2x/numbers/8.png");
}
.flip-thing .back-9, .flip-thing span.num-9 {
	background-image: url("../images@2x/numbers/9.png");
}
.flip-thing .back-10, .flip-thing span.num-10 {
	background-image: url("../images@2x/numbers/half.png");
}

#schedule .tracks .pause h2 {
	background: url(../images@2x/pauses.png) center center no-repeat;
	background-size: 150px 400px;
}
#details .times {
	background: #383838 url(../images@2x/time-dark.png) top right repeat-y;
	background-size: 25px auto;
}
#schedule aside {
	background: #fceeed url(../images@2x/time-schedule2.png) right -51px repeat-y;
	background-size: 25px auto;
}

}

@media only screen and (max-width: 850px) {

	#header {
		height: 200px;
	}
	#header h1 {
		top: 50px;
	}
	#scroll-down {
		display: none;
	}

	#mountains2,
	#mountains,
	#clouds3,
	#clouds2,
	#land,
	#clouds,
	#cloudsF {
		display: none;
	}


	.flips {
		display: none;
	}

	#details {
		height: 300px;
	}
	#details .description {
		position: static;
		height: 300px;
		width: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch !important;
	}
	#details .times {
		display: none;
	}
	#details .track, #details .speaker {
		padding: 10px;
		position: static;
		width: auto !important;
	}
	.track, .keynote {
		overflow: hidden !important;
	}
	.pause {
		text-indent: -999em;
	}

	#conferences {
		height: auto;
		width: auto;
		padding: 0 10px;
		position: relative;
		z-index: 9999;
	}
	#phone {
		display: block !important;
		width: 100%;
	}

	#conferences article {
		height: auto;
		width: auto;
		padding: 0;
	}

	#conferences section {
		width: auto;
		height: auto;
		float: none;
		margin: -1px 0 0;
		border: 1px solid #fa8080;
		padding: 10px;
	}
    
	#venue {
		height: 300px;
	}
	#venue article {
		width: auto;
		left: 0;
	}

	#partners {
		width: 100%;
		margin: 0;
		overflow: hidden;
	}

	#partners img {
		max-width: 200px !important;
		overflow: hidden;
	}


	#schedule aside {
		display: none;
	}
	#schedule .tracks {
		position: static;
	}
	#schedule .day {
		height: auto !important;
		padding: 80px 0 5px;
	}
	#schedule .tracks .track, #schedule .tracks .keynote, #schedule .tracks > div {
		width: auto !important;
		position: relative !important;
		left: 0 !important;
		top: auto !important;
		margin: 4px 0;
		height: auto !important;
	}
	#schedule .tracks > div:before {
		display: block;
		color: rgba(255,255,255,.6);
		background: inherit;
		padding: 5px 0;
		text-align: center;
	}


	#schedule,
	#details.fixed,
	#schedule .day header.fixed {
		width: 100%;
	}

}