@font-face {
    font-family: 'av55,nb,'나눔고딕',NanumGothic,ng,'돋움',dotum,AppleGothic,sans-serif;';
    src: url('../fonts/SinkinSans-200XLight-webfont.eot');
    src: url('../fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic.eot');
    src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic.woff') format('woff'),
         url('../fonts/NanumGothic.ttf') format('truetype'),
         url('../fonts/NanumGothic.svg#NanumGothic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/SinkinSans-700Bold-webfont.eot');
    src: url('../fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
    font-family: 'av55,nb,'나눔고딕',NanumGothic,ng,'돋움',dotum,AppleGothic,sans-serif;';
	font-size:1.4em;
	line-height:1.5em;
	overflow-x:hidden;
}

section {
	padding:35px 0;
}

h2 {
	font-family:'sinkin_sans600_semibold';
	font-size:27px;
	margin-top:0;
	margin-bottom:40px;
}

h3 {
	font-family:'sinkin_sans600_semibold';
}

h4 {
	font-family:'sinkin_sans400_regular';
	font-size:17px;
	letter-spacing:-1px;
	margin-bottom:5px;
	line-height: 1.5em;
}

.lead {
	font-family:'sinkin_sans400_regular';
	font-size:17px;
	letter-spacing:1px;
}

.uppercase {
	text-transform:uppercase;
}	

/* SCHEDULE */

.event {
	display:table;
	width:100%;
	border-spacing: 10px 5px;
	height: 110px; 
}

.event-inner {
	display: table-row;
}

.event h3 {
	margin-top:0;
	font-size:17px;
}

.event .icon {
	width:16%;
	padding:5px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.event .icon i {
	display: block;
	margin-bottom: 10px;
}

.event .icon .time {
	font-family:'Economica';
	font-size:22px;
	font-weight:700;
}

.event .description {
	padding:15px;
	display:table-cell;
	vertical-align:middle;
}

.event .description p {
	font-size:14px;
}

.event .name {
	font-family:'sinkin_sans600_semibold';
	font-size:14px;
}


/* Schedule Pagination */

#days .item {
	margin:10px;
	padding:10px;
}

#days .item h4,
#days .item h5 {
	font-family:'sinkin_sans600_semibold';
	margin-bottom:10px;
	text-align:center;
	cursor:pointer;
}